body {
    font-size: 16px;
    color: #434343;
    background-color: #f1f3f4;
    font-family: Roboto;
}

#header-nav {
    background-color: #434343;
}

.navbar a {
    color: #f1f3f4;
    margin-left: auto;
    text-transform: uppercase;
    z-index: 1;
    display: inline-block;
}

.navbar-nav {
    display: flex;
}

.navbar a:hover, .navbar .active{
    color: #434343;
    text-decoration: underline;
}
nav .animation {
    position: absolute;
    height: 70%;
    top: 15%;
    z-index: 0;
    background: #ff9900;
    border-radius: 10px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation, a:nth-child(1):focus~.animation {
    width: 70px;
    left: 12px;
}

nav a:nth-child(2) {
    width: 200px;
}

nav a:nth-child(2):hover~.animation, a:nth-child(2):focus~.animation {
    width: 180px;
    left: 115px;
}

nav a:nth-child(3) {
    width: 200px;
}

nav a:nth-child(3):hover~.animation, a:nth-child(3):focus~.animation {
    width: 90px;
    left: 318px;
}
