body {
    font-size: 16px;
    color: #434343;
    background-color: #f1f3f4;
    font-family: Roboto, sans-serif;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header-nav {
    background-color: #434343;
}

.navbar a {
    color: #f1f3f4;
    margin-left: auto;
    text-transform: uppercase;
    z-index: 1;
    display: inline-block;
}

.navbar-nav {
    display: flex;
}

.navbar a:hover {
    color: #ff9900;
    text-decoration: underline;
}

.navbar .active{
    color: #434343;
    text-decoration: underline;
}

.navbar .active:hover {
    color: #434343;
    text-decoration: underline;
}

nav .animation {
    position: absolute;
    height: 50%;
    top: 25%;
    z-index: 0;
    background: #ff9900;
    border-radius: 10px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 100px;
}

nav .start-home, a:nth-child(1):focus~.animation {
    width: 70px;
    left: 12px;
}

nav a:nth-child(2) {
    width: 200px;
}

nav a:nth-child(2):focus~.animation {
    width: 180px;
    left: 115px;
}

nav a:nth-child(3) {
    width: 200px;
}

nav a:nth-child(3):focus~.animation {
    width: 90px;
    left: 318px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,153,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: #ff9900;
}

/* FOOTER */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 45px;
    background-color: #434343;
    text-align: center;
    color: #f1f3f4;
}

/************ MAIN CONTENT ************/

.main-content {
    /*margin-bottom: 50px;*/
    height: inherit;
}

.jumbotron {
    width: 95%;
    margin: 20px auto 30px;
    border-radius: 10px;
    height: 300px;
    border: 2px solid #ff9900;
    background-image: url("../../images/jumbotron-test.jpeg");
    background-size: cover;
}

#jumbo-shadow {
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 25%);
}

.jumbotron .container {
    position: relative;
}

.jumbotron .container h1 {
    position: absolute;
    bottom: -275px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 6vw;
    -webkit-text-stroke: 1px #f1f3f4;
    text-shadow: 0px 10px 5px #434343;
    background: -webkit-linear-gradient(#ff9900, #434343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#price-quotation {
    position: relative;
    background-color: #ff9900;
    color: #434343;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 25%);
    top: 30px;
    font-size:1.5vw;
    width: fit-content;
    block-size: fit-content;
    text-align: center;
    border: 2px solid #434343;
    padding-left: 10px;
    padding-right: 10px;
    margin: 30px auto 20px;
    max-width: 90%;
}

#price-quotation a {
    text-decoration: underline;
    color: #f1f3f4;
}

#service-container-title {
    position: relative;
    top: 30px;
    left: 50px;
    font-size:2.5vw;
    font-family: 'Krona One', sans-serif;
    text-decoration: underline;
    text-shadow: 0px 2px 1px #434343;
    -webkit-text-stroke: 1px #f1f3f4;
}

#service-instructions {
    position: relative;
    top: 50px;
    left: 50px;
    font-size:1.5vw;
}

#overflow-wrapper {
    overflow-x: scroll;
    height: 500px;
}

.services-container {
    width: 90%;
    margin-top: 80px;
    margin-bottom: 30px;
    left: 5%;
    display: flex;
}

.card {
    display: flex;
    min-height: 300px;
    min-width: 250px;
    background-color: #434343;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    border: 1px solid #f1f3f4;
}

.card:not(:first-child) {
    margin-left: -75px;
}

.card:hover {
    transform: translate(-25px, -20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.services-container .card .title {
    color: #f1f3f4;
    font-weight: 300;
    position: absolute;
    left: 10%;
    top: 3.5%;
    font-family: Roboto, sans-serif;
    font-size: 1.5vw;
}

.bar {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 5px;
    width: 90%;
    margin-bottom: 10px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: #ff9900;
    background: linear-gradient(90deg, #434343 0%, rgba(217,147,0,1) 65%, #ff9900 100%);
    transition: 0.6s ease-out;
}

.services-container img{
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    top: 25%;
    border-radius: 10px;
    border: 1px solid #ff9900;
}

.card button {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: #434343;
    min-height: 20px;
    min-width: 50px;
    font-family: Roboto, sans-serif;
    font-size: 1vw;
    background-color: #f1f3f4;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 55%;
    top : 90%;
}

.card button:hover {
    border: 1px solid #ff9900;
    color: #ff9900;
    text-decoration: underline;
}

.card:hover .filledbar {
    width: 70%;
    transition: 0.4s ease-out;
}

.service-description {
    display: none;
    background: linear-gradient(90deg, #434343 0%, rgba(217,147,0,1) 65%, #ff9900 100%);
    color: #f1f3f4;
    border-radius: 10px;
    padding: 15px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 25%);
}

/********************** Contacts ************************************/

#contacts-div {
    background-image: url("../../images/contacts-img.jpg");
    background-position: center;
    background-size: cover;
    height: inherit;
    width: 100%;
    padding-top: 250px;
    padding-bottom: 250px;
    box-sizing: border-box;
}

#contacts-tile {
    text-align: center;
    font-size: 2.2vw;
    background-color: #434343;
    color: #f1f3f4;
    opacity: .8;
    max-height: 500px;
    width: 50%;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #f1f3f4;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Krona One', sans-serif;
}

#contacts-tile span {
    text-transform: uppercase;
    text-decoration: underline;
}

#contacts-options {
    margin-top: 50px;
    font-size: 1.5vw;
    text-align: left;
    line-height: 50px;
    padding-left: 10px;
    font-family: Roboto, sans-serif;
}

#telephone-number {
    color: #ff9900;
    text-decoration: underline;
}

.fa-whatsapp, .fa-instagram {
    vertical-align: middle;
    margin-left: 5px;
}

.fa-whatsapp {
    color: green;
}

.fa-instagram {
    border-radius: 20%;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background-size: contain;
    color: white;
}

#whatsapp {
    color: #ff9900;
    text-decoration: underline;
}

#instagram {
    color: #ff9900;
    text-decoration: underline;
}

#email {
    padding-left: 5px;
    color: #ff9900;
    text-decoration: underline;
}

/*********************************** FAQ *******************************************/
.faq-container {
    position: relative;
    margin: 0 auto;
    padding: 4rem;
    width: 100%;
    height: 100%;
}

.faq-container h1 {
    font-family: 'Krona One', sans-serif;
    text-shadow: 0px 4px 4px;
    -webkit-text-stroke: 1px #f1f3f4;
    font-size: 2.5vw;
}

.accordion .accordion-item {
    border-bottom: 1px solid #f1f3f4;
}
.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #ff9900;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 1em 1em 1em;
    color: #ff9900;
    font-size: 1.5vw;
    font-weight: 400;
    border: 1px solid #ff9900;
    outline: none;
    background-color: #434343;
    border-radius: 10px;
    min-height: 100px;
}
.accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #ff9900;
}
.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #ff9900;
    border: 1px solid #ff9900;
}
.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
    margin: auto 10px;
    vertical-align: middle;
}
.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}
.accordion button[aria-expanded='true'] {
    color: #ff9900;
}
.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 20em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content p, .accordion .accordion-content ul {
    font-size: 1vw;
    font-weight: 300;
    margin: 2em 0;
}

.accordion .accordion-content ul {
    padding-left: 20px;
}


/*************************************************************************************/
/**************************** MEDIA QUERY *******************************/
/*************************************************************************************/

@media (min-width: 1200px) {
    .jumbotron .container h1 {
        bottom: -300px;
    }
    .card button {
        font-size: 0.6vw;
    }

    .services-container .card .title {
        font-size: 1.25vw;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card button {
        font-size: 1vw;
    }

    .services-container .card .title {
        font-size: 1.75vw;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    nav .animation {
        display: none;
    }

    nav .navbar-nav {
        text-align: right;
    }

    .navbar .active{
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:hover {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:focus {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar a:hover {
        color: #ff9900;
        text-decoration: none;
    }

    .services-container .card .title {
        font-size: 2.5vw;
        left: 15px;
        top: 4%;
    }

    .card button {
        font-size: 1.5vw;
    }

    #service-container-title {
        font-size: 4vw;
        left: 15px;
    }

    #service-instructions {
        font-size: 3vw;
        left: 10px;
    }

    .card button:focus {
        border: 1px solid #ff9900;
        color: #ff9900;
        text-decoration: underline;
    }
}

/********** Extra small devices only **********/
@media (min-width: 500px) and (max-width: 767px ) {
    nav .animation {
        display: none;
    }

    nav .navbar-nav {
        text-align: right;
    }

    .navbar .active{
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:hover {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:focus {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar a:hover {
        color: #ff9900;
        text-decoration: none;
    }

    .services-container .card .title {
        font-size: 3vw;
        left: 15px;
        top: 7.5%;
    }

    .card button {
        font-size: 2vw;
    }

    #service-container-title {
        font-size: 4vw;
        left: 15px;
    }
    #service-instructions {
        font-size: 3vw;
        left: 10px;
    }


    .card button:focus {
        border: 1px solid #ff9900;
        color: #ff9900;
        text-decoration: underline;
    }
}

/********** Super Extra small devices only **********/
@media (max-width: 500px) {
    nav .animation {
        display: none;
    }

    nav .navbar-nav {
        text-align: right;
    }

    .navbar .active{
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:hover {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:focus {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar a:hover {
        color: #ff9900;
        text-decoration: none;
    }

    .jumbotron .container h1 {
        font-size: 10vw;
    }

    .services-container .card .title {
        font-size: 5.5vw;
        left: 5%;
        top: 5%;
    }

    .card button {
        font-size: 3vw;
    }

    #price-quotation {
        font-size:5vw;
        top: 10px;
    }

    #service-container-title {
        font-size: 6vw;
        left: 15px;
    }
    #service-instructions {
        font-size: 4vw;
        left: 15px;
    }

    #contacts-div {
        background-image: url("../../images/contacts-img-vertical.jpg");
        padding-top: 120px;
        padding-bottom: 120px;
    }

    #contacts-tile {
        font-size: 5vw;
        width: 80%;
        height: 380px;
    }

    #contacts-options {
        margin-top: 10px;
        font-size: 4vw;
        line-height: 35px;
    }

    .faq-container {
        padding: 2rem;
    }

    .faq-container h1 {
        font-size: 6vw;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .accordion button {
        font-size: 3.5vw;
        min-height: 75px;
    }

    .accordion .accordion-content p, .accordion .accordion-content ul {
        font-size: 3vw;
    }

    .card button:focus {
        border: 1px solid #ff9900;
        color: #ff9900;
        text-decoration: underline;
    }

    .card:not(:first-child) {
        margin-left: 5px;
    }

 }