body {
    font-size: 16px;
    color: #434343;
    background-color: #f1f3f4;
    font-family: Roboto;
}

#header-nav {
    background-color: #434343;
}

.navbar a {
    color: #f1f3f4;
    margin-left: auto;
    text-transform: uppercase;
    z-index: 1;
    display: inline-block;
}

.navbar-nav {
    display: flex;
}

.navbar a:hover {
    color: #ff9900;
    text-decoration: underline;
}

.navbar .active{
    color: #434343;
    text-decoration: underline;
}

.navbar .active:hover {
    color: #434343;
    text-decoration: underline;
}

nav .animation {
    position: absolute;
    height: 50%;
    top: 25%;
    z-index: 0;
    background: #ff9900;
    border-radius: 10px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 100px;
}

nav .start-home, a:nth-child(1):focus~.animation {
    width: 70px;
    left: 12px;
}

nav a:nth-child(2) {
    width: 200px;
}

nav a:nth-child(2):focus~.animation {
    width: 180px;
    left: 115px;
}

nav a:nth-child(3) {
    width: 200px;
}

nav a:nth-child(3):focus~.animation {
    width: 90px;
    left: 318px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,153,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: #ff9900;
}

.jumbotron {
    width: 95%;
    margin: 20px auto 0px;
    border-radius: 10px;
    height: 300px;
    border: 2px solid #ff9900;
}

#jumbo-shadow {
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 25%);
}

.jumbotron .container {
    position: relative;
}

.jumbotron .container h1 {
    position: absolute;
    bottom: -275px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 75px;
    -webkit-text-stroke: 1px #f1f3f4;
    text-shadow: 0px 10px 5px #434343;
    background: -webkit-linear-gradient(#ff9900, #434343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#services-container {
    position: absolute;
    height: 300px;
    width: 75%;
    margin-top: 100px;
    left: calc(50% - 500px);
    display: flex;
}

#services-container img{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
}

.card {
    display: flex;
    height: 350px;
    width: 300px;
    background-color: #434343;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

#services-container .card .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 25%;
    top: 40px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
    margin-bottom: 10px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: #ff9900;
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, #ff9900 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #17141d;
    stroke-width: 2px;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

/************************************/
@media (max-width: 992px) {
    nav .animation {
        display: none;
    }

    nav .navbar-nav {
        text-align: right;
    }

    .navbar .active{
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:hover {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar .active:focus {
        color: #ff9900;
        text-decoration: underline;
    }

    .navbar a:hover {
        color: #ff9900;
        text-decoration: none;
    }
}